.disp-in {
    display: inline-block;
}
.disp-nn {
    display: none;
}
.disp-blk {
    display: block;
}
.disp-in {
    display: inline-block;
}
.disp-hide {
    visibility: hidden;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    font-size: 0;
}
.fix {
    position: fixed;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.font-sm {
    font-size: 12px;
}
.font-bs {
    font-size: 14px;
}
.font-md {
    font-size: 16px;
}
.font-lss {
    font-size: 18px;
}
.font-ls {
    font-size: 20px;
}
.font-lg {
    font-size: 24px;
}
.font-xl {
    font-size: 30px;
}
.font-xxl {
    font-size: 36px;
}
.font-vlg {
    font-size: 42px;
}
.font-bld {
    font-weight: bold;
}
.font-nml {
    font-weight: normal;
}
.font-lt {
    font-weight: lighter;
}
.font-pri {
    font-family: 'Roboto';
}
.font-sec {
    font-family: 'bebas neue';
}
.mrg-tz {
    margin-top: 0;
}
.mrg-lz {
    margin-left: 0;
}
.mrg-rz {
    margin-right: 0;
}
.mrg-bz {
    margin-bottom: 0;
}
.mrg-hz {
    margin-left: 0;
    margin-right: 0;
}
.mrg-vz {
    margin-top: 0;
    margin-bottom: 0;
}
.mrg-z {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
.mrg-st {
    margin-top: 5px;
}
.mrg-sl {
    margin-left: 5px;
}
.mrg-sr {
    margin-right: 5px;
}
.mrg-sb {
    margin-bottom: 5px;
}
.mrg-sh {
    margin-left: 5px;
    margin-right: 5px;
}
.mrg-sv {
    margin-top: 5px;
    margin-bottom: 5px;
}
.mrg-sm {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.mrg-mt {
    margin-top: 10px;
}
.mrg-ml {
    margin-left: 10px;
}
.mrg-mr {
    margin-right: 10px;
}
.mrg-mb {
    margin-bottom: 10px;
}
.mrg-mh {
    margin-left: 10px;
    margin-right: 10px;
}
.mrg-mv {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mrg-md {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.mrg-lt {
    margin-top: 15px;
}
.mrg-ll {
    margin-left: 15px;
}
.mrg-lr {
    margin-right: 15px;
}
.mrg-lb {
    margin-bottom: 15px;
}
.mrg-lh {
    margin-left: 15px;
    margin-right: 15px;
}
.mrg-lv {
    margin-top: 15px;
    margin-bottom: 15px;
}
.mrg-lg {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.mrg-xlt {
    margin-top: 20px;
}
.mrg-xll {
    margin-left: 20px;
}
.mrg-xlr {
    margin-right: 20px;
}
.mrg-xlb {
    margin-bottom: 20px;
}
.mrg-xlh {
    margin-left: 20px;
    margin-right: 20px;
}
.mrg-xlv {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mrg-xl {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.pad-tz {
    padding-top: 0;
}
.pad-lz {
    padding-left: 0;
}
.pad-rz {
    padding-right: 0;
}
.pad-bz {
    padding-bottom: 0;
}
.pad-hz {
    padding-left: 0;
    padding-right: 0;
}
.pad-vz {
    padding-top: 0;
    padding-bottom: 0;
}
.pad-z {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.pad-st {
    padding-top: 5px;
}
.pad-sl {
    padding-left: 5px;
}
.pad-sr {
    padding-right: 5px;
}
.pad-sb {
    padding-bottom: 5px;
}
.pad-sh {
    padding-left: 5px;
    padding-right: 5px;
}
.pad-sv {
    padding-top: 5px;
    padding-bottom: 5px;
}
.pad-sm {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.pad-mt {
    padding-top: 10px;
}
.pad-ml {
    padding-left: 10px;
}
.pad-mr {
    padding-right: 10px;
}
.pad-mb {
    padding-bottom: 10px;
}
.pad-mh {
    padding-left: 10px;
    padding-right: 10px;
}
.pad-mv {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pad-md {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.pad-lt {
    padding-top: 15px;
}
.pad-ll {
    padding-left: 15px;
}
.pad-lr {
    padding-right: 15px;
}
.pad-lb {
    padding-bottom: 15px;
}
.pad-lh {
    padding-left: 15px;
    padding-right: 15px;
}
.pad-lv {
    padding-top: 15px;
    padding-bottom: 15px;
}
.pad-lg {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.pad-xlt {
    padding-top: 20px;
}
.pad-xll {
    padding-left: 20px;
}
.pad-xlr {
    padding-right: 20px;
}
.pad-xlb {
    padding-bottom: 20px;
}
.pad-xlh {
    padding-left: 20px;
    padding-right: 20px;
}
.pad-xlv {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pad-xl {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.text-black {
    color: #333333;
}
.btn {
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-transform: uppercase;
}
.btn.btn-primary {
    border-color: #E7C727;
    background-color: #E7C727;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
    border-color: #c5a816;
    background-color: #c5a816;
}
.btn.btn-lg {
    padding: 8px 50px;
    box-shadow: 0 0 10px 0px rgba(51,51,51,0.3);
    -o-box-shadow: 0 0 10px 0px rgba(51,51,51,0.3);
    -ms-box-shadow: 0 0 10px 0px rgba(51,51,51,0.3);
    -moz-box-shadow: 0 0 10px 0px rgba(51,51,51,0.3);
    -webkit-box-shadow: 0 0 10px 0px rgba(51,51,51,0.3);
}
.btn.btn-lg:hover, .btn.btn-lg:focus, .btn.btn-lg:active {
    border-color: #c5a816;
    background-color: #c5a816;
}
body {
    font-family: 'Roboto', 'sans-serif';
}
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a:hover, a:focus, a:active {
    text-decoration: none;
}
.btn {
    text-transform: uppercase;
}
.btn.btn-lg {
    padding: 6px 30px;
}
.slider {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 0 4px 0px rgba(51,51,51,0.2);
    -o-box-shadow: 0 0 4px 0px rgba(51,51,51,0.2);
    -ms-box-shadow: 0 0 4px 0px rgba(51,51,51,0.2);
    -moz-box-shadow: 0 0 4px 0px rgba(51,51,51,0.2);
    -webkit-box-shadow: 0 0 4px 0px rgba(51,51,51,0.2);
}
.slider .bx-wrapper {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border: 0;
    box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.slider .bx-wrapper .bx-controls-direction a {
    display: block;
    color: #333333;
    text-indent: 0;
    background: none;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #ffffff;
    font-family: 'Glyphicons Halflings';
    box-shadow: 0 0 4px 0px rgba(51,51,51,0.2);
    -o-box-shadow: 0 0 4px 0px rgba(51,51,51,0.2);
    -ms-box-shadow: 0 0 4px 0px rgba(51,51,51,0.2);
    -moz-box-shadow: 0 0 4px 0px rgba(51,51,51,0.2);
    -webkit-box-shadow: 0 0 4px 0px rgba(51,51,51,0.2);
}
.slider .bx-wrapper .bx-controls-direction a.bx-next {
    right: -36px;
}
.slider .bx-wrapper .bx-controls-direction a.bx-prev {
    left: -36px;
}
.slider .bx-wrapper .bx-controls-direction a.bx-next:after, .slider .bx-wrapper .bx-controls-direction a.bx-prev:after {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}
.slider .bx-wrapper .bx-controls-direction a.bx-next:after {
    content: "\e258";
}
.slider .bx-wrapper .bx-controls-direction a.bx-prev:after {
    content: "\e257";
}
.thumbnail.product {
    padding: 0;
    overflow: hidden;
    border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #fff;
    border: 1px solid #cccccc;
}
.thumbnail.product:hover {
    border-color: #E7C727;
}
.thumbnail.product figure img {
    max-height: 250px;
}
.thumbnail.product .caption {
    padding: 15px;
}
.thumbnail.product .caption .product-name {
    padding-top: 10px;
    font-family: 'bebas neue';
    display: block;
    font-size: 20px;
    color: #333333;
    overflow: hidden;
    line-height: 20px;
    text-overflow: ellipsis;
    border-top: 1px solid #cccccc;
}
.thumbnail.product .caption .price {
    margin-top: 5px;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
}
